/* Styles de base pour le tableau */
.TableContainer {
    overflow: auto; /* Permettre le défilement horizontal sur les petits écrans */
    max-width: 100%; /* Assurez-vous que le tableau s'adapte à la largeur de l'écran */
  }
  
  /* Styles pour les cellules du tableau */
  .StyledTableCell {
    padding: 8px; /* Ajoutez un peu d'espace autour du texte dans les cellules */
  }
  
  /* Media Queries pour les styles responsives */
  @media (max-width: 768px) {
    /* Réduisez la taille de la police pour les cellules du tableau sur les petits écrans */
    .StyledTableCell {
      font-size: 12px;
    }
    
    /* Cachez ou réorganisez les éléments du tableau pour s'adapter à un affichage vertical sur les petits écrans si nécessaire */
  }
  /* tableaubrewers.css */

/* Style the table container */
.TableContainer {
    margin: 20px;
    overflow-x: auto;
  }
  
  /* Style the table headers */
  .TableHead {
    background-color: #c70909;
  }
  
  /* Style the table rows */
  .TableRow {
    &:nth-of-type(odd) {
      background-color: #e21e1e;
    }
  }
  
  /* Style the table cells */
  .TableCell {
    &.head {
      background-color: #333;
      color: #fff;
    }
  
    &.body {
      font-size: 14px;
    }
  }
  .MuiTableRow-root{
    color: #c70909;
    font-family: 800;
   
   
  }